{# guild_management/templates/attendance.html #}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}


<!doctype html>
<html>
    <head>
        <title>Attendance</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        
        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script type="text/javascript" src="/static/admin/js/actions.js"></script>
        <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
        <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
        
        
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
            
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    <body>
  
        <!-- Container -->
        <div id="container">
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">Raid Attendance</h1>
                </div>
                <div id="user-tools">
                    
                </div>
            </div>
            <!-- END Header -->
            <!-- Content -->
            <div id="content" class="flex">
                <h1></h1>
                <div id="content-main">
                    <div class="module" id="changelist">
                        {% if filter %}
                        <form action="" method="get" class="form form-inline">
                            {% bootstrap_form filter.form layout='inline' %}
                            {% bootstrap_button 'filter' %}
                        </form>
                        {% endif %}
                    </div>
                    <div class="module" id="changelist">
                        
                        {% render_table table 'django_tables2/bootstrap.html' %}
                    </div>
                    
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->    
            <div id="footer"></div>
        </div>
    </body>
</html>

